<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicare</title>
     
     <!-- Favicons -->
     <link href="../assets/img/favicon.png" rel="icon">
     <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
 
     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 
     <!-- Vendor CSS Files -->
     <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
     <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
     <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
     <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
     <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
     <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
     <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
 
     <!-- Template Main CSS File -->
     <link href="../assets/css/style.css" rel="stylesheet">
    <!-- Main css -->
    <link href="../assets/css/Data entry.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/css/nav.css">  -->
</head>

<body style="background-color: #1977cc;">
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html">MEDICARE</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#departments">Departments</a></li>
                    <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

         

        </div>
    </header>
    
    <div class="main">
     <!-- {{>nav}}  -->
        <section class="signup" >
            
            <div class="container">
                <div class="signup-content">
                    <form action="/add/data" method="post" id="signup-form" class="signup-form">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="aadharNumber">Aadhar Card Number</label>
                                <input type="text" class="form-input" name="aadharNumber" id="aadharNumber" placeholder="e.g 9945 1141 2512"/>
                            </div>
                            <div class="form-group">
                                <label for="patientName">Patient Name</label>
                                <input type="text" class="form-input" name="patientName" id="patientName" placeholder="e.g Pranav Patil"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="aadharNumber">Report if any</label>
                                    <input type="file" class="form-input" name="aadharNumber" id="aadharNumber" />
                                </div>
                                <div class="form-group">
                                    <label for="doctorName">Doctor Name</label>
                                    <input type="text" class="form-input" name="doctorName" id="doctorame" placeholder="e.g Dr.Metgud"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-margin">
                                <label>Clinic/Hospital Name</label>
                                <input type="text" class="form-input" name="hospitalName" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="forWhat1">Clinic/Hospital Location</label>
                                <textarea class="form-control" id="textAreaExample1" rows="4" cols="40" name="hospitalLocation">
                            </textarea>
                            </div>
                        </div>

                        <div id="rounds">
                            <div id="singleRound">
                                <div class="form-row">
                                    <div class="form-margin">
                                        <label>medicine 1</label>
                                        <input type="text" class="form-input" name="medicine" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="forWhat1">For What?</label>
                                        <textarea class="form-control" id="textAreaExample1" rows="4" cols="40" name="forWhat1">
                                    </textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group form-icon">
                                        <label for="startDate">Start Date</label>
                                        <input type="text" class="form-input" name="startDate1" id="startDate" placeholder="MM-DD-YYYY" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group form-icon">
                                        <label for="tillDate">Till Date</label>
                                        <input type="text" class="form-input" name="tillDate1" id="tillDate" placeholder="MM-DD-YYYY" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-radio">
                                        <label for="level">Please select one of the Time to take medicine</label>
                                        <!-- <div class="form-flex"> -->
                                            <input type="checkbox" id="morning" name="morning1" value="morning"  >
                                            <label for="morning">morning</label>
                                            <input type="checkbox" id="afternoon" name="afternoon1" value="afternoon">
                                            <label for="afternoon">afternoon</label>
                                            <input type="checkbox" id="night" name="night1" value="night">
                                            <label for="night">night</label><br>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                  
                            </div>
                         <button onclick="render()" id="demo" class="addButton">Add Medicine </button>
                        </div>


                        <div class="form-row">
                            <div class="form-margin">
                                <label class="form-label" for="textAreaExample">Diet</label>
                                <textarea class="form-control" id="textAreaExample1" rows="5" cols="65" name="diet"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="submit" class="form-submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    
    <script src="../assets/js/data.js"></script>
    <!-- <script src="main.js"></script>  -->

</body>

</html>